
<DOCTYPE! html>
    <html lang="en">

    <head>
        <title> {% block title %}Home{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="" width=device-width, initial_scale="1.0">
        <script src="../../static/js/functions.js"></script>
        <link rel="stylesheet" href="../../static/css/styles.css">
    </head>

    <body>
        <div id="collapsableSidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{% url 'site-home' %}"> Home </a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'upload' %}">Upload Documents </a>
            <a href="{% url 'profile' %}"> Performance </a>
            <!-- COPY, REPEAT-->
        </div>

        <!-- Page content -->
        <div id="main">
            <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>
            {% block content %} stuff {% endblock %}
        </div>
    </body>

</html>

</DOCTYPE!>