<DOCTYPE! html>
<html lang="en">

<head>
    <title>Home </title>
    <meta charset="UTF-8">
    <meta name ="viewport" content=""width=device-width, initial_scale="1.0">
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>

<body>
    <div class = "sidebar">
       <a class = "active" href="{% url 'site-home' %}"> Home </a>
       <a href="{% url 'myClasses' %}"> My Classes </a>
       <a href="{% url 'upload' %}">Upload Documents </a>
       <a href="{% url 'performance' %}"> Performance </a>
       <!-- COPY, REPEAT-->
    </div>

    <!-- Page content -->
    <div class = "content">
        <p>yippe</p>
    </div>
</body>

</html>

</DOCTYPE>