<DOCTYPE! html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="" width=device-width, initial_scale=1.0">
        <title>Login</title>
    </head>

    <body>
        <h2>You have been logged out</h2>
        <div class="border-top pt-3">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
            </form>
            <small class="text-muted">
                <a href="{%url 'login' %}">Sign In Again</a>
            </small>
        </div>
    </body>

</html>

</DOCTYPE!>



