:root {
    --sb_width: 200px;
}
/* nav menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#532980;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f0fff1;
    display: block;
    transition: 0.3s;
    
}

/*on hover*/
.sidebar a:hover {
    color: #b3e9c7;
}

/* the x button to close the sidebar */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*the button to open the sidebar*/
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #532980;
    color: white;
    padding: 10px 15px;
    border: none;
}

/*when you hover over the button*/
.openbtn:hover {
    background-color: #8367c7;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

/* sidebar on small screens */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

