<DOCTYPE! html>
<html lang="en">

<head>
    <title>My Classes</title>
    <meta charset="UTF-8">
    <meta name ="viewport" content=""width=device-width, initial_scale="1.0">
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>

<body>
    <!-- body structure: sidebar, timeline, notes, analytics, study section-->
    <div class = "sidebar">
        <a href="{% url 'site-home' %}"> Home </a>
        <a class = "active" href="{% url 'myClasses' %}"> My Classes </a>
        <a href="{% url 'upload' %}">Upload Documents </a>
        <a href="{% url 'performance' %}"> Performance </a>
        <!-- COPY, REPEAT-->
     </div>

     <div class = "content">
        <header>
            <h1>My Classes</h1>
            
        </header>
     </div>
</body>

</html>

</DOCTYPE!>