{% extends 'myclasses/base.html' %}
{% block content %}
<div class="content">
    <header>
        <h1>Class Details</h1>
        
        {% block title %}
            <h2>{% block thisclass %}{{ syllabus.title }}{% endblock %}</h2>
            <link rel="stylesheet" href="../../static/css/styles.css">
        {% endblock %}
        
        <div class="tile">
            <h2>Notes</h2>
            <p>
                {% block notes %}
                    {{ notes }}
                {% endblock %}
            </p>
        </div>
        
        <div class="tile">
            <h2>Topics</h2>
            <p>
                {% block topics %}
                    {{ topics }}
                {% endblock %}
            </p>
        </div>
    </header>
</div>
{% endblock %}
