<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %} Notes {% endblock title %}</title> <!-- add course name -->
    <meta charset="UTF-8">
    <meta name ="viewport" content=""width=device_width, initial_scale=1.0">
</head>

<body>
    <div id = "collapsableSidebar" class = "sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'site-home' %}"> Home </a>
       <a href="{% url 'login' %}">Login</a>
       <a href="{% url 'myClasses' %}"> My Classes </a>
       <a href="{% url 'upload' %}">Upload Documents </a>
       <a href="{% url 'performance' %}"> Performance </a>
    </div>
    
    <header>{% block header %} Notes {% endblock header %}</header>
    <main> {% block content} {% endblock content}</main>
</body>
</html>