<DOCTYPE! html>
<html lang="en">

<head>
    <title>Upload Syllabus</title>
    <meta charset="UTF-8">
    <meta name ="viewport" content=""width=device-width, initial_scale=1.0">
    <link rel="stylesheet" href="../../../static/css/styles.css"> 
</head>

<body>

    <div class = "sidebar">
        <a href="index.html">My Class</a>
        <a class = "active" href="upload_page.html">Upload Documents </a>
        <a href="upload_page.html">Upload Documents </a>
        <!-- COPY, REPEAT-->
     </div>
</body>

</html>

</DOCTYPE>