<DOCTYPE! html>
<html lang="en">

<head>
    <title>Upload Syllabus</title>
    <meta charset="UTF-8">
    <meta name ="viewport" content=""width=device-width, initial_scale="1.0">
    <title>Upload Syllabus</title>
    <link rel="stylesheet" href="../../../static/css/styles.css"> 
</head>

<body>
    <!--upload page structure: sidebar, upload splash text, upload form area, (optional: text for additional class information like section #)-->
    <h1>Upload Your Syllabus Below!</h1>
    <div class = "sidebar">
        <a href="index.html">My Class</a>
        <a class = "active" href="upload_page.html">Upload Documents </a>
        <a href="upload_page.html">Upload Documents </a>
        <!-- COPY, REPEAT-->
     </div>
    <form action="" method=post>
        <label for="syllabus">Syllabus:</label>
        <input type="file" id = "syllabus" name="syllabus">
    </form>
</body>

</html>

</DOCTYPE>